/* CSS Document */


BODY { background: url(../res/bg.png); background-repeat: no-repeat ;
alignment-adjust:central ; 
}

table {
	align-content:center ;
}

td {
	opacity:0.5;
	background-color:#fff;
}

td.opaque {
	opacity:1;
}

@font-face {
   font-family: Coalition Regular; 
   src: url(text/Coalition_v2..ttf);
} 

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}