/* CSS Document */


BODY { background: url(../res/bg.png); background-repeat: no-repeat ;
alignment-adjust:central ; 
}

table {
	background-color:#fff;
	opacity:0.5; align-content:center ;
}

.img { opacity::1.0;
}

@font-face {
   font-family: Coalition Regular; 
   src: url(text/Coalition_v2..ttf);
} 

 .parallax-container {
      height: "500";
    }
        